.weather-widget {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   /* width: 300px;*/
   background-image: url("./clouds.jpg");
   background-repeat: no-repeat;
   background-position: left center;
   padding-left: 10px; /* adjust according to your icon size */
   color: #fff;
   background-size: cover;
   min-height: 220px; /* Your desired minimum height */
   width: 100%; /* Full width */
}

img.responsive-height {
    min-height: 2000px; 
    height: auto; /* This maintains the aspect ratio of the image */
    width: auto; /* This maintains the aspect ratio of the image */
    
}

.weather-location, .weather-status, .weather-alert {
    /* color: #333; */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    backdrop-filter: blur(5px);
    /*filter: grayscale(2.5);*/
    border-radius: 14px;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
    line-height: 1.4;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    margin-bottom: 10px;
    backdrop-filter: blur(25px);
   /*filter: grayscale(2.5);*/
    border-radius: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
    line-height: 1.4;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    /* color: #fff; */
}

 .weather-condition {
    font-size: 36px;
    font-weight: bold;
} 

.day-night {
    font-size: 36px;
    font-weight: bold;
}

.weather-alert {
    background-color: #ffcccb;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}
