<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center my-4">{{'SearchFormLabels.title' | translate}}</h3>
        <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)" >
            <div class="form-group">
              <input formControlName="location"
                class="form-control"
                type="text"
                id="weatherLocation"
                aria-describedby="weatherLocation"
                placeholder="{{'SearchFormLabels.placeholder' | translate}}"
              />  
             </div>

             <div class="text-center my-4"> 
              <button #submitButton type="submit" class="btn btn-success btn-md">
                {{'SearchFormLabels.search' | translate}}</button>
             </div>
           </form> 
        </div>

  <!--  <div class="col-md-12"><h3 class="text-center my-4"> {{'DetailLabels.title' | translate}} </h3>
        <p class="text-center"> {{'DetailLabels.conditions' | translate}} {{this.weatherData?.current.condition.text}}</p>
        <p class="text-center"> {{'DetailLabels.DegreesCelsius' | translate}} {{this.weatherData?.current.temp_c}}</p>
        <p class="text-center"> {{'DetailLabels.DegreesFarenheit' | translate}} {{this.weatherData?.current.temp_f}}</p>
        <p class="text-center"> {{'DetailLabels.FeelsCelsius' | translate}} {{this.weatherData?.current.feelslike_c}}</p>
        <p class="text-center"> {{'DetailLabels.FeelsFarenheit' | translate}} {{this.weatherData?.current.feelslike_f}}</p>
        <p class="text-center">{{'DetailLabels.Location' | translate}} {{this.weatherData?.location.name}}, {{this.weatherData?.location.country}}</p>
      </div>
    </div>
  </div>
-->

  <!-- ><div class="col-md-12" >
    <h2>{{'DetailLabels.title' | translate}} + {{this.weatherData?.location.name}} , {{this.weatherData?.location.country}}</h2>
    <h3>{{'DetailLabels.FeelsCelsius' | translate}}</h3>
    <h1>{{this.weatherData?.current.feelslike_c}}</h1>

    <table mat-table>
      <tr>
        <td>Max./Min.</td>
        <td>{{this.weatherData?.current.condition.text}}</td>
        <td>{{'DetailLabels.wind' | translate}}</td>
        <td>{{this.weatherData?.current.wind_kph}}</td>
        <tr>
        <td>{{'DetailLabels.Humidity' | translate}}</td>
        <td>{{this.weatherData?.current.humidity}}</td>
        <td>{{'DetailLabels.FeelsCelsius' | translate}}</td>
        <td>{{this.weatherData?.current.feelslike_f}}</td>
        <tr>
        <td>{{'DetailLabels.FeelsFarenheit' | translate}}</td>
        <td>{{this.weatherData?.current.condition.text}}</td>
        <td>{{'DetailLabels.Location' | translate}}</td>
        <td>{{this.weatherData?.current.condition.text}}</td>
        <tr>
      </tr>
    </table>
   </div>
-->

<div class="container-fluid row" >
   <div class="weather-widget ">
    <div class="col-12"><span class="weather-location" *ngIf="weatherData">{{this.weatherData?.location.name}}, {{this.weatherData?.location.country}}</span></div>
    <div class="col-12 weather-status" *ngIf="weatherData">{{'DetailLabels.Asof' | translate}} {{this.weatherData?.current.last_updated}}</div>
    <div class="weather-info row" *ngIf="weatherData">
        <div class="temperature col-md-4 col-sm-12 my-2">{{this.weatherData?.current.temp_c}}°C/{{this.weatherData?.current.temp_f}}°F</div>
        <div class="weather-condition col-md-4 col-sm-12 my-2">{{this.weatherData?.current.condition.text}}</div>
        <div class="weather-icon col-md-4 col-sm-12 my-2">
          <img src="{{this.weatherData?.current.condition.icon}}">
        </div>
        <!--<div class="day-night">Day 77° • Night 66°</div>-->
    </div>
</div>
</div>
